.section-main-projects {
  @apply scroll-m-20 w-full mt-10 xl:p-0 p-4 mx-auto container lg:max-w-6xl md:max-w-4xl xl:mt-40 md:mt-1;
}

.container-main-projects {
  @apply flex flex-col gap-y-16;
}

.container-render-projects {
  @apply relative flex flex-col space-x-0 space-y-8 lg:flex-row md:space-x-8 md:space-y-0 disabled:cursor-not-allowed;
}

.container-content-disabled {
  @apply absolute inset-0 z-10 dark:bg-black/40 hover:opacity-0 transition-opacity duration-300 w-full h-full flex items-start justify-start;
}

.icon-clock-disabled {
  @apply text-amber-600 dark:text-yellow-500 size-8 md:ml-10 mt-16 ml-3 md:mt-8;
}

.container-content-projects {
  @apply w-full md:w-[95%] lg:w-[70%];
}

.container-content-projects-disabled {
  @apply opacity-50 pointer-events-none filter grayscale group-hover:opacity-100 group-hover:pointer-events-auto group-hover:filter-none;
}

.container-img-content-projects {
  @apply relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl  lg:hover:border-gray-700 lg:hover:bg-gray-800/50;
}

.container-img-actosoft {
  @apply absolute flex-col inset-0 z-10 w-full h-full flex items-start justify-start;
}

.img-actosoft {
  @apply w-20 h-20 object-contain -translate-y-7;
}

.container-text-projects {
  @apply w-full lg:-translate-y-7 2xl:-translate-y-1 md:items-start md:justify-start md:block flex flex-col justify-between items-center md:max-w-xl;
}

.title-projects {
  @apply text-3xl font-bold text-blue-600 dark:text-primary 2xl:mt-2 mt-7;
}

.description-projects {
  @apply mt-2 xl:text-start xl:p-0 p-2 text-center text-xl font-extrabold dark:font-bold text-gray-900 dark:text-slate-200;
}

.container-main-tools {
  @apply flex flex-wrap mt-2;
}

.container-content-tools {
  @apply flex flex-wrap mb-2 gap-x-2;
}

.container-render-tools {
  @apply max-w-[200px] px-5 border-[2.5px] dark:border-[1.7px] border-amber-600 dark:border-yellow-500
  rounded-md flex flex-row gap-5 justify-center items-center text-lg py-1 transition md:hover:scale-95
  mt-4 hover:scale-95 dark:bg-transparent;
}

.title-render-tools {
  @apply font-extrabold text-center dark:text-white text-black;
}

.footer-projects {
  @apply flex justify-start items-center gap-x-4;
}

.link-footer-projects {
  @apply flex items-center gap-x-4 mt-3 cursor-pointer justify-center rounded-xl transition border px-3 text-lg hover:scale-105 bg-gray-800 text-white border-gray-600 hover:bg-slate-400;
}

.parragraph-code {
  @apply p-[10px];
}
