.container-main-gallery {
  @apply flex flex-col justify-center items-center p-5 translate-y-20;
}

.container-title-gallery {
  @apply flex md:flex-row flex-col gap-3 xl:gap-0;
}

.title-gallery {
  @apply text-center text-2xl xl:text-5xl leading-tight skew-x-6;
}

.container-images {
  @apply mt-10 block p-4 gap-5 columns-2 lg:columns-3 xl:columns-4;
}
