.section-main-about-me {
  @apply flex justify-start items-start flex-col max-w-screen-xl mx-auto lg:mt-10 mb-5;
}

.container-first-content-about-me {
  @apply mt-10 translate-y-4 flex flex-row lg:justify-start justify-center lg:ml-24 mx-auto gap-x-5;
}

.title-first-content-about-me {
  @apply my-auto text-3xl text-red-900 dark:text-yellow-500 font-extrabold;
}

.container-description-about-me {
  @apply lg:grid lg:grid-cols-2 lg:pl-40 mt-3;
}

.description-about-me {
  @apply dark:text-white text-gray-950 font-extrabold md:text-xl text-sm lg:text-start text-center p-4 xl:p-2;
}

.container-main-border-img-about-me {
  @apply flex lg:justify-end justify-center mx-auto my-auto lg:skew-y-3 skew-x-3 -translate-x-2  mt-6 lg:mt-0;
}

.border-layer-1,
.border-layer-2,
.border-layer-3,
.border-layer-4 {
  @apply border-blue-700 dark:border-blue-300 shadow-md shadow-lime-500 dark:shadow-lime-100;
}

.border-layer-1 {
  @apply border-[1px];
}

.border-layer-2 {
  @apply border-[2px];
}

.border-layer-3 {
  @apply border-[3px];
}

.border-layer-4 {
  @apply border-[4px];
}
