@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .group-date {
    @apply sticky top-0 bg-white py-3 z-10 shadow-xl shadow-white;
  }
  .timeline {
    @apply border-l-10 border-gray-500 ml-3 mt-3 py-16 space-y-14;
  }
}
:root {
  color-scheme: light dark;
}

section img.banner {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
    transform: rotate(-20deg);
  }
  50% {
    transform: translateY(20px);
    transform: rotate(20deg);
  }
  100% {
    transform: translateY(-20px);
    transform: rotate(-20deg);
  }
}

.divLine {
  flex: 1 1 0%;
}
