@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

section img.banner {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
    transform: rotate(-20deg);
  }
  50% {
    transform: translateY(20px);
    transform: rotate(20deg);
  }
  100% {
    transform: translateY(-20px);
    transform: rotate(-20deg);
  }
}

.divLine {
  flex: 1 1 0%;
}

.section-projects {
  display: grid;
  @media (min-width: 300px) and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  row-gap: 15px;
  margin-top: 12px;
  column-gap: 16px;
}

img.mask {
  mask-image: linear-gradient(white 80%);
}

.section-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @apply mx-auto;
  row-gap: 15px;
  margin-top: 12px;
  column-gap: 16px;
}
